doctype
html(lang="ja")
  head
    title OSYARE WEBSITE
    link(href="/css/index.css", rel="stylesheet")
  body
    #wrapper
      header#hader
        | OSYARE HEADER
      #content
        canvas#canvas(width="800", height="400")
      footer#footer
        | YABAI FOOTER


    | <script src="http://code.createjs.com/easeljs-0.7.1.min.js"></script>
    | <script src="http://code.createjs.com/tweenjs-0.5.1.min.js"></script>
    | <script src="http://code.createjs.com/movieclip-0.7.1.min.js"></script>
    | <script src="http://code.createjs.com/preloadjs-0.4.1.min.js"></script>
    script(src="/js/all.min.js", type="text/javascript")

